<a href="https://colab.research.google.com/github/ChandaSourav/MachineLearning/blob/main/multiplelinear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("/content/multi.csv")
df.head(10)

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105
5          VW         Up!    1000     929  105
6       Skoda       Fabia    1400    1109   90
7    Mercedes     A-Class    1500    1365   92
8        Ford      Fiesta    1500    1112   98
9        Audi          A1    1600    1150   99

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     36 non-null     object
 1   Model   36 non-null     object
 2   Volume  36 non-null     int64
 3   Weight  36 non-null     int64
 4   CO2     36 non-null     int64
dtypes: int64(3), object(2)
memory usage: 1.5+ KB

In [ ]:
x = df.iloc[:,2:4].values
y = df.iloc[:,4].values
print(x)
print(y)

[[1000  790]
 [1200 1160]
 [1000  929]
 [ 900  865]
 [1500 1140]
 [1000  929]
 [1400 1109]
 [1500 1365]
 [1500 1112]
 [1600 1150]
 [1100  980]
 [1300  990]
 [1000 1112]
 [1600 1252]
 [1600 1326]
 [1600 1330]
 [1600 1365]
 [2200 1280]
 [1600 1119]
 [2000 1328]
 [1600 1584]
 [2000 1428]
 [2100 1365]
 [1600 1415]
 [2000 1415]
 [1500 1465]
 [2000 1490]
 [2000 1725]
 [1600 1523]
 [2000 1705]
 [2100 1605]
 [2000 1746]
 [1600 1235]
 [1600 1390]
 [1600 1405]
 [2500 1395]]
[ 99  95  95  90 105 105  90  92  98  99  99 101  99  94  97  97  99 104
 104 105  94  99  99  99  99 102 104 114 109 114 115 117 104 108 109 120]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=1)

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x,y)

LinearRegression()

In [ ]:
prediction=model.predict([[1200,1000]])
print(prediction)

[96.61197559]